.row
    .w-2-3.category
        img.category_img(src="img/category1.jpg" alt='')
        .category_intro
            h1.h1 ozero
            h5.h5 Нуль відходів
            h5.h5 Безмежна любов до планети
    .w-1-3.category
        img.category_img(src="img/category2.jpg" alt='Kitchen')
        .category_name
            a.h4.link(href="#") Для кухні
    .w-1-3.category
        img.category_img(src="img/category3.jpg" alt='Hygiene')
        .category_name
            a.h4.link(href="#") Гігієна
.row
    .w-1-3.category
        img.category_img(src="img/category4.jpg" alt='Storage')
        .category_name
            a.h4.link(href="#") Зберігання
    .w-1-3.category
        img.category_img(src="img/category5.jpg" alt='Makeup')
        .category_name
            a.h4.link(href="#") Косметика
    .w-1-3.category
        img.category_img(src="img/category6.jpg" alt='Books')
        .category_name
            a.h4.link(href="#") Книжки