.main_title
    h3.h3 Відгуки
._reviewSlider
    .row
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Оксана Юдіна
                    .review_date 
                        p.p.p__faded 12.11.2018
            .review_text
                p.p.p__faded.p__larger
                    | Купувала щіточку для посуду (а потім змінний блок до неї). Це дуже зручно і справжній зеро вейст. Щіточка класна. Як і маленька щіточка для овочів. Ну а коли отримуєш свій пакуночок (який мені, до речі, відправили у Різдво). Дякую всім, хто причетний. Успіхів вам, натхнення і наснаги!
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Аня Фесенко
                    .review_date 
                        p.p.p__faded 10.12.2018
            .review_text
                p.p.p__faded.p__larger
                    | Дуже вам вдячна! Це так приємно отримувати посилку швидко, та ще й яку. Пакування - величезний плюс, все що всередині - дуже надихає і тішить). Дякую всім, хто причетний. Успіхів вам, натхнення і наснаги!
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Саша Соловій
                    .review_date 
                        p.p.p__faded 12.09.2018
            .review_text
                p.p.p__faded.p__larger
                    | Общалась с ребятами в фб, потом приехала уже в шоу-рум, атмосфера неимоверная, очень теплые и позитивные эмоции, полный ассортимент. Брала чашку бамбуковую 250 мл, очень довольна, и скоро вернусь к Вам за железной трубочкой, очень рада, что теперь Вы рядом)
    .row
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Оксана Юдіна
                    .review_date 
                        p.p.p__faded 12.11.2018
            .review_text
                p.p.p__faded.p__larger
                    | Купувала щіточку для посуду (а потім змінний блок до неї). Це дуже зручно і справжній зеро вейст. Щіточка класна. Як і маленька щіточка для овочів. Ну а коли отримуєш свій пакуночок (який мені, до речі, відправили у Різдво). Дякую всім, хто причетний. Успіхів вам, натхнення і наснаги!
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Аня Фесенко
                    .review_date 
                        p.p.p__faded 10.12.2018
            .review_text
                p.p.p__faded.p__larger
                    | Дуже вам вдячна! Це так приємно отримувати посилку швидко, та ще й яку. Пакування - величезний плюс, все що всередині - дуже надихає і тішить). Дякую всім, хто причетний. Успіхів вам, натхнення і наснаги!
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Саша Соловій
                    .review_date 
                        p.p.p__faded 12.09.2018
            .review_text
                p.p.p__faded.p__larger
                    | Общалась с ребятами в фб, потом приехала уже в шоу-рум, атмосфера неимоверная, очень теплые и позитивные эмоции, полный ассортимент. Брала чашку бамбуковую 250 мл, очень довольна, и скоро вернусь к Вам за железной трубочкой, очень рада, что теперь Вы рядом)
    .row
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Оксана Юдіна
                    .review_date 
                        p.p.p__faded 12.11.2018
            .review_text
                p.p.p__faded.p__larger
                    | Купувала щіточку для посуду (а потім змінний блок до неї). Це дуже зручно і справжній зеро вейст. Щіточка класна. Як і маленька щіточка для овочів. Ну а коли отримуєш свій пакуночок (який мені, до речі, відправили у Різдво). Дякую всім, хто причетний. Успіхів вам, натхнення і наснаги!
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Аня Фесенко
                    .review_date 
                        p.p.p__faded 10.12.2018
            .review_text
                p.p.p__faded.p__larger
                    | Дуже вам вдячна! Це так приємно отримувати посилку швидко, та ще й яку. Пакування - величезний плюс, все що всередині - дуже надихає і тішить). Дякую всім, хто причетний. Успіхів вам, натхнення і наснаги!
        .w-1-3.review
            .review_header
                img.review_img(src="img/bracket.png" alt="")
                .review_info
                    .review_author
                        h5.h5 Саша Соловій
                    .review_date 
                        p.p.p__faded 12.09.2018
            .review_text
                p.p.p__faded.p__larger
                    | Общалась с ребятами в фб, потом приехала уже в шоу-рум, атмосфера неимоверная, очень теплые и позитивные эмоции, полный ассортимент. Брала чашку бамбуковую 250 мл, очень довольна, и скоро вернусь к Вам за железной трубочкой, очень рада, что теперь Вы рядом)
    a.main_promo-icon.main_promo-icon__prev._prevArrowHeader(href="#")
        img(src="img/arrow-prev.png")
    a.main_promo-icon.main_promo-icon__next._nextArrowHeader(href="#")
        img(src="img/arrow-next.png")