.promo
    img.promo_img(src="img/promo1.jpg" alt='Special Offer')
    .promo_name
        h2.h2 -10% на усі чашки ECOFFEECUP
        p.p.p__large.p__subtitle Акція діє до 14-го лютого!
        .promo_order
            a.h4.link.link__accent(href="#") Замовити
.promo
    img.promo_img(src="img/promo1.jpg" alt='Special Offer')
    .promo_name
        h2.h2 -10% на усі чашки ECOFFEECUP
        p.p.p__large.p__subtitle Акція діє до 14-го лютого!
        .promo_order
            a.h4.link.link__accent(href="#") Замовити
.promo
    img.promo_img(src="img/promo1.jpg" alt='Special Offer')
    .promo_name
        h2.h2 -10% на усі чашки ECOFFEECUP
        p.p.p__large.p__subtitle Акція діє до 14-го лютого!
        .promo_order
            a.h4.link.link__accent(href="#") Замовити
a.main_promo-icon.main_promo-icon__prev._prevArrowHeader(href="#")
    img(src="img/arrow-prev.png")
a.main_promo-icon.main_promo-icon__next._nextArrowHeader(href="#")
    img(src="img/arrow-next.png")