.main_title
    h3.h3 Хіти продажу
.row
    .w-1-4.product.product__discount(data-discount="- 20%")
        a.product_link
            img.product_img(src="img/hit1.jpg" alt="")
        .product_category
            a.p.link.link__accent Зберігання
        .product_name
            h5.h5 Торбинки для продуктів
        .product_price
            p.p.p__large 170.00 грн
    .w-1-4.product
        a.product_link
            img.product_img(src="img/hit2.jpg" alt="")
        .product_category
            a.p.link.link__accent Гігієна
        .product_name
            h5.h5 Бамбукова щітка
        .product_price
            p.p.p__large 180.00 грн
    .w-1-4.product
        a.product_link
            img.product_img(src="img/hit3.jpg" alt="")
        .product_category
            a.p.link.link__accent Зберігання
        .product_name
            h5.h5 Авоська Ecodis
        .product_price
            p.p.p__large 260.00 грн
    .w-1-4.product
        a.product_link
            img.product_img(src="img/hit4.jpg" alt="")
        .product_category
            a.p.link.link__accent Гігієна
        .product_name
            h5.h5 Металевий станок
        .product_price
            p.p.p__large 150.00 грн